# Importing libs and data

In [2]:
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Encoding feature "species"

In [4]:
from sklearn import preprocessing

def encode_features(data):
    features = ['species']    
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(data[feature])
        data[feature] = le.transform(data[feature])
    return data
    
data = encode_features(data)

this part is not necessarily, i just do it to work just with numbers :D

In [14]:
data.sample(5)

     sepal_length  sepal_width  petal_length  petal_width  species
142           5.8          2.7           5.1          1.9        2
63            6.1          2.9           4.7          1.4        1
134           6.1          2.6           5.6          1.4        2
54            6.5          2.8           4.6          1.5        1
88            5.6          3.0           4.1          1.3        1

In [9]:
data.corr()

              sepal_length  sepal_width  petal_length  petal_width   species
sepal_length      1.000000    -0.109369      0.871754     0.817954  0.782561
sepal_width      -0.109369     1.000000     -0.420516    -0.356544 -0.419446
petal_length      0.871754    -0.420516      1.000000     0.962757  0.949043
petal_width       0.817954    -0.356544      0.962757     1.000000  0.956464
species           0.782561    -0.419446      0.949043     0.956464  1.000000

In [79]:
X = data.drop(['species'], axis=1)
y = data['species']

# Using Logistic Regression as clf

In [109]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, make_scorer
from itertools import product

penalty_ = ['l1', 'l2']
max_iter_ = [10, 15, 20, 50, 100, 150, 200]

results = []

for p, mi in product(penalty_, max_iter_):
    print(p, mi)
    model_ = LogisticRegression(penalty=p, max_iter=mi, random_state=7)
    model_.fit(X, y)
    predicts = model_.predict(X)
    result_ = { 'penalty': p, 'max_iter': mi, 'accuracy': accuracy_score(y, predicts)} 
    results.append(result_)

('l1', 10)
('l1', 15)
('l1', 20)
('l1', 50)
('l1', 100)
('l1', 150)
('l1', 200)
('l2', 10)
('l2', 15)
('l2', 20)
('l2', 50)
('l2', 100)
('l2', 150)
('l2', 200)

In [110]:
get_parameters = pd.DataFrame(results, columns=['accuracy', 'max_iter', 'penalty'])
print ('best parameters to clf: ')
get_parameters.sort_values(by='accuracy').tail()

best parameters to clf:

    accuracy  max_iter penalty
10  0.960000        50      l2
11  0.960000       100      l2
12  0.960000       150      l2
13  0.960000       200      l2
2   0.966667        20      l1

# Using Random Forest Classifier

In [102]:
    from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

clf = RandomForestClassifier()

parameters = {'max_features': ['log2', 'auto'], 
              'criterion': ['entropy', 'gini'],
              'n_jobs': [-1]
             }

acc_score = make_scorer(accuracy_score)

grid = GridSearchCV(clf, parameters, scoring=acc_score)
grid = grid.fit(X, y)

clf = grid.best_estimator_

clf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='log2', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=-1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [103]:
predicts = clf.predict(X)
print (accuracy_score(y, predicts))

1.0

# Output :)

In [107]:
output = pd.DataFrame({'species': predicts})
output.to_csv('iris-predictions.csv', index = True)
output.head()

   species
0        0
1        0
2        0
3        0
4        0